

#menu {
  float:left; 
  padding:0px;
  width:200px;
 
}
#cambio{
  padding:0px;
  margin-left:300px;
  
}
/*contenido de competencia*/
#menuCompetencia{
  float:left; 
  padding:0px;
  width:200px;
 
}
#cambioCompetencia{
  padding:0px;
  margin-left:500px;
  
}














#menu1 {
	font-size: 90%;
	list-style-image: url(imasmenu/doct.gif);
	/*border: 1px solid #006699;*/
	width: 200px;
	padding-top: .5em;
	padding-bottom: .5em;
	list-style: inside;
}

html > body #menu1{
	list-style: outside;
}
.cAbierta{
	list-style-type: none;
	list-style-image: url(imasmenu/carpabiertat.gif);
}
.cAbiertaSeleccionada{
	list-style-type: none;
	list-style-image: url(imasmenu/carpabiertasel.gif);
}
.cCerradaSeleccionada{
	list-style-type: none;
	list-style-image: url(imasmenu/carpcerradasel.gif);
}
.cCerrada{
	list-style-type: none;
	list-style-image: url(imasmenu/carpcerradat.gif);
}
.menuDoc{
	list-style-type: none;
	list-style-image: url(imasmenu/doct.gif);
}
.tagApartado, a.tagApartado{
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
}
.documentoActual{
	list-style-image: url(imasmenu/docsel.gif);
}

#menu1 a {
	color: #006699;
}
.documentoActual a{
	color:#993300;
}

